body {
background-color: rgb(163, 223, 22);

}
h1 {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: blue;
    font-weight: bolder;
    font-style: oblique;
}  
h2 {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: blue;
    font-weight: bolder;
    font-style: oblique;
}  
h3{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: blue;
    font-weight: bolder;
    font-style: oblique;
}  
 
h4{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: blue;
    font-weight: bolder;
    font-style: oblique;
}  


 .topnav {
    padding: 40px;
    background-color: black !important;
    overflow: hidden;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: rgb(73, 3, 3);
    text-align: center;
    font-size: larger;
    text-decoration: solid;
    font-style: oblique;
  }
  
  